:root {
    --main-background-color: #afeeee;
    --form-background-color: #fcfcfc;
    --default-feedback-color: #31708f;
    --ok-feedback-color: #00a86b;
    --error-color: #bf1c15;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    line-height: 1.25;
    background-color: var(--main-background-color);
}

.form {
    width: 320px;
    padding: 2rem;
    border: 0;
    border-radius: .375rem;
    background-color: var(--form-background-color);
    box-shadow: 0 15px 45px -5px rgba(10, 16, 34, .15);
}

.form__fieldset {
    border: 0;
    padding: 0;
}

.form__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    min-height: 2.375rem;
}

.form__field:first-of-type {
    margin-top: 0;
}

.form__field input {
    flex: 0 1 66.66%;
}

.form__field-radio {
    display: flex;
    align-items: baseline;
    margin-top: 1rem;
}

.form__field-radio input[type=radio] {
    flex: none;
    margin-right: .75rem;
}

.form__label {
    display: block;
    font-weight: bold;
    margin-top: 1rem;
}

.form__input {
    display: block;
    flex: 1;
    padding: .5rem;
}

.form__actions {
    padding-top: 1.5rem;
}

.form__feedback {
    margin-top: 1rem;
    padding: 1rem;
    border: 2px solid currentColor;
    border-radius: .25rem;
    color: var(--default-feedback-color);
    background-color: rgba(49, 112, 143, 0.1);
}

.form__feedback:empty {
    display: none;
}

.form__feedback.success {
    color: var(--ok-feedback-color);
    background-color: rgba(0, 168, 107, 0.1);
}

.form .button {
    display: inline-block;
    padding: 1rem 1.5rem;
    border: 2px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    font-size: .875rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.form .button-primary {
    display: block;
    width: 100%;
    font-weight: 700;
    background-color: salmon;
    color: var(--form-background-color);
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form .button_primary:hover,
.form .button_primary:focus {
    background-color: #f85441;
}

.error {
    border-color: var(--error-color);
    border-radius: 3px;
}

.error-message {
    color: var(--error-color);
    font-style: italic;
    font-size: .85rem;
}
